<div class="main-login">
    <div class="left-login">
        <h1> Faça seu Login <br> E fique por dentro das novidades </h1>
        <img src="../src/images/hamburger-animate.svg" class="left-login-image" alt="Animação Hamburgue Tela Login">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" placeholder="Usuário" id="email">
            </div>

            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha" id="password">
            </div>

            <button class="btn-login" id="btn-make-login">Login </button>

        </div>
    </div>