<div class="w-2/5" style="margin: 0 auto;">
<br>
<h3 class="text-2xl text-indigo-600 font-bold mb-6 -ml-3">Todos Os Seus Pedidos</h3>
<hr class="my-1.5">
<br>

    <ol id="list-of-orders" class="border-l-2 border-purple-600 w-2/3" style="margin: 0 auto">


    </ol>

    <hr class="my-3">
</div>

<!--<center>
    <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-pink-800">
        PAGINA DE PEDIDOS EM PRODUÇÃO!!!
    </h1>
    <h1  style="font-size: 220px">
        🚧
    </h1>
</center>-->